<f:layout name="Default" />

<f:section name="Title"><f:translate id="system.intega" locale="{langDetector.language}" /></f:section>

<f:section name="Content">
	<ul>
	    <li>
            <f:link.action action="configuration" controller="Administration"><f:translate id="administration.configuration" locale="{langDetector.language}" /></f:link.action>
        </li>
		<li>
		    <f:link.action action="listUsers" controller="Administration"><f:translate id="administration.users" locale="{langDetector.language}" /></f:link.action>
		</li>
	</ul>
</f:section>