<f:layout name="Default" />

<f:section name="Title"><f:translate id="administration.users" locale="{langDetector.language}" /></f:section>

<f:section name="Content">
	<f:if condition="{accounts}">
        <f:then>
            <f:link.action action="createUser"><i class="fa fa-user-plus"></i> Create account</f:link.action>
            <h2>Account list</h2>
            <table class="table">
                <tr>
                    <th>Username</th>
                    <th>Full name</th>
                    <th>Creation Date</th>
                    <th>Status</th>
                    <th>Options</th>
                </tr>
                <f:for each="{accounts}" as="account">
                    <tr>
                        <td>
                            <f:link.action action="show" arguments="{account: account}">{account.accountidentifier}</f:link.action>
                        </td>
                        <td>
                            {account.party.name.fullName}
                        </td>
                        <td><f:format.date>{account.creationdate}</f:format.date></td>
                        <td><span class="label label-success">Active</span></td>
                        <td>
                            <f:form action="editUser">
                                <f:form.hidden name="account" value="{account}" />

                                <f:form.button>
                                    <i class="fa fa-edit"></i>
                                </f:form.button>
                            </f:form>
                            
                            <f:form action="deleteUser">
                                <f:form.hidden name="account" value="{account}" />

                                <f:form.button>
                                    <i class="fa fa-user-times"></i>
                                </f:form.button>
                            </f:form>
                        </td>
                    </tr>
                </f:for>
            </table>
        </f:then>
        <f:else>
            <p>No accounts registered yet.</p>
        </f:else>
    </f:if>
</f:section>